@media (max-width: 768px) {
    .contacts {
        display: none;
    }

    .chat {
        display: flex;
        width: calc(100% - 40px);
        height: calc(100vh - 144px);
    }

    .message-item-receiver p,
    .message-item-sender p {
        display: flex;
        min-width: calc(auto - 20px);
        width: auto;
        max-width: 50%;
    }

    .wrapper {
        padding-top: 20px;
        padding-right: 0px;
    }

    #chat-message-submit{
        width: 40px;
    }

    #messageText{
        width: calc(100% - 60px);
        padding: 10px;
        resize: none;
        line-height: 20px;
        max-height: calc(20px * 4);
        overflow-y: hidden;
    }

    #settings-chat-container{
        width: 57%;
        z-index: 0;
    }

}