:root {
  --bg-page-color: #4E4EBF;
  --bg-button: #31315A;
  --bg-button-color-hover: #3e3e73;
  --bg-menu-color: #1D1D2B;
  --bg-menu-color-translucent: #1D1D2Bc0;

  --DocEditor-bg-color: white;
  --DocEditor-text-color: black;
  --style-text-btn-bg-color: #FFFFFF;

  --paragraph-text-color: #9f9fd3;
  --color-text: #FFFFFF;

  --disable-input-color: #9b9b9b;

  --text-bg-color: rgba(0, 0, 0, 0.6);

  --send-btn-bg-color: #FFFFFF;

  --warning-bg-color: #333383;

  --btn-bg-color-standart: #FFFFFF;
  --btn-text-color-standart: #000000;

  --date-text-color: #A19F9F;

  --input-data_of_substance-bg-color: #B2B2DC;
  --input-data_of_substance-text-color: #000000
}